<nb-layout>
  <nb-layout-header class="layout__header">Expert Rec</nb-layout-header>
  <nb-layout-column>
    <nb-card class="card">
      <nb-card-header class="card__header"
        >Vinay's Showcase App For Expert Rec</nb-card-header
      >
      <nb-card-body class="card__body">
        You can Sign in with Google
        <div>
          <button nbButton status="primary" class="login-button">
            <nb-icon icon="google"> </nb-icon>
            Google
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
